.ui.raised.segment {
  padding: 20px;
}

.ui.centered.header {
  text-align: center;
}

.ui.card {
  width: 100%;
}

.card.content {
  display: flex;
  align-items: center;
  text-align: left; /* Center align the text */
}

.ui.flex.container.custom-flex-container {
  display: flex;
  align-items: center;
}

.ui.medium.circular.image {
  border: 5px solid #e6eded;
}

.custom-h2 {
  margin-bottom: 5px;
}

.card.content p {
  text-align: left;
  margin-top: 30px; /* Adjust spacing between paragraphs */
}

/* Adjustments for responsiveness */
@media (max-width: 768px) {
  .ui.flex.container.custom-flex-container {
    flex-direction: column;
    text-align: center;
  }

  .ui.medium.circular.image {
    margin-bottom: 10px; /* Adjust spacing between image and content */
  }

  .card.content p {
    margin-top: 20; /* Reset margin for paragraphs */
  }
}
